.header {
    padding: 15px;

    right: 0px;
    z-index: 666;
    background: rgb(54, 54, 73);
}

.menu-nav_item{
        text-align: right;
        text-decoration: none;
        list-style: none;
}

.name {
        
        font-size: 25px;
        top: 400px;
}

a {
        text-decoration: none;
        color: rgb(99, 99, 99);
}
a:hover {
        text-decoration: none;
        color: whitesmoke;
}
@media screen and (max-width: 1140px) {
        .header {
            padding: 30px 0;
        }
        
    }