.header {
    padding: 7px;
    right: 0px;
    left: 0px;
    z-index: 666;
    background: rgb(0, 0, 0);
    position: fixed;
}

.menu-nav_item{
        text-align: right;
        text-decoration: none;
        list-style: none;
}

.name {
        
        font-size: 25px;
        top: 400px;
}

a {
        text-decoration: none;
        color: rgb(0, 0, 0);
}
a:hover {
        text-decoration: none;
        color: whitesmoke;
}
li {
        color: rgb(0, 0, 0);
}
li:hover {
        text-decoration: none;
        color: whitesmoke;
}

